.ActionForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(176,176,176,1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(176,176,176,1);
    box-shadow: 0px 0px 10px -1px rgba(176,176,176,1);
}

.ActionForm > .Template {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.ActionForm > .Header {
    margin: 2px;
    display: flex;
    align-items: center;
    font-weight: 300;
    text-decoration: underline;
}
.ActionForm > .Buttons {
    width: inherit;
    display: flex;
    justify-items: end;
    margin: 10px;
}

.ActionForm > .Errors {
    background-color: #b0003a;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ActionForm .Errors > .ErrorsHeader {
    margin: 10px;
    font-size: 140%;
}

.ActionForm .Errors > .ErrorsMsg {
    margin: 10px;
}

.PatternToComponent {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.PatternToComponent > .Part {
    display: inline-flex;
    height: 45px;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.NoPatternToComponent {
    display: flex;
    height: 45px;
    align-items: center;
    padding-left: 10px;
}

.NoPatternToComponent > .Template {
    padding-left: 10px;
}